body {
  height: 100vh;
  overflow: hidden;
  background: #0033FF;
  color: #FFFFFF;
  font: 11px/11px 'Press Start 2P', 'Helvetica Neue', 'Arial', sans-serif;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

a {
  color: #FFFFFF;
  text-decoration: underline;
}

a:hover {
  color: #FF4A00;
}

.logo {
  position: absolute;
  top: 30px;
  left: 30px;
  text-decoration: none;
  padding-left: 25px;
}

.logo:hover {
  color: #FFFFFF;
}

.logo-sign {
  position: absolute;
  display: flex;
  flex-flow: wrap;
  width: 12px;
  left: 0;
  transform: scale(1.2) translateY(5%);
}

.logo-sign i {
  display: block;
  width: 3px;
  height: 4px;
  margin: 0 1px 1px 0;
  background: #FFFFFF;
}

.logo-sign i:last-child {
  margin-left: 4px;
}

.credits {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.sidebar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar-keys {

}



/* TETRIS */

:root {
  --tetris-main-scale: 1.2;
  --tetris-main-translate-x: 50%;
  --tetris-main-translate-y: -5vh;

  /*--tetris-game-scale: 1;*/
  /*--tetris-game-translate-x: 0;*/
  /*--tetris-game-translate-y: 0;*/

  --tetris-game-scale: 1.33;
  --tetris-game-translate-x: 0;
  --tetris-game-translate-y: 77px;
}

.landing-tetris {
  position: absolute;
  width: 257px;
  height: 601px;
  left: 50%;
  top: 50%;
  margin-left: -130px;
  margin-top: -300px;
  transform-origin: center;
  transform:
    rotate(15deg)
    scale(var(--tetris-main-scale))
    translateX(var(--tetris-main-translate-x))
    translateY(var(--tetris-main-translate-y));
  /*!*box-shadow: -37px 7px 44px 0 rgba(0,0,0,.28);*! TODO: fix*/
  box-shadow: -20px -4px 25px -2px #0009AD;
  transition: all 800ms;
}

.game--active .tetris {
  transform:
    rotate(0deg)
    scale(var(--tetris-game-scale))
    translateX(var(--tetris-game-translate-x))
    translateY(var(--tetris-game-translate-y));
}

.game--active .play-button {
  display: none;
}
