@import './variables.css';
@import './mobile.css';

@font-face {
  font-family: 'Press Start';
  src: url('fonts/PressStart2P-Regular.woff') format('woff');
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--landing-color-background);
  padding: 0;
  margin: 0;
}

body, button, kbd {
  color: var(--landing-color-text);


  font: var(--landing-font-size)/1em var(--landing-font-family);
  letter-spacing: var(--landing-letter-spacing);
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

a, button {
  outline: none;
}

a {
  color: var(--landing-color-text);
  text-decoration: underline;
}

a:hover {
  color: var(--landing-color-text-hover);
}



/* LOGO */

.logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--landing-logo-x), var(--landing-logo-y));

  --logo-cube-padding: calc(var(--landing-logo-cube-size) / 3);
  --logo-cube-block: calc(var(--landing-logo-cube-size) + var(--logo-cube-padding));
}

.logo .figure-type-o {
  width: calc(var(--logo-cube-block) * 3);
}

.logo .figure-type-o i {
  border: 0;
  background: white;
  transition: transform 400ms;
  width: var(--landing-logo-cube-size);
  height: var(--landing-logo-cube-size);
  margin: 0 var(--logo-cube-padding) var(--logo-cube-padding) 0;
}

.logo .figure-type-o i:after {
  background: var(--landing-color-text);
  display: none;
}

.logo--frame-1 .figure-type-o i:nth-child(4) {
  transform: translateX(var(--logo-cube-block));
}

.logo--frame-2 .figure-type-o i:nth-child(1) {
  transform: translateY(var(--logo-cube-block));
}

.logo--frame-3 .figure-type-o i:nth-child(2),
.logo--frame-3 .figure-type-o i:nth-child(3) {
  transform: translateX(calc(var(--logo-cube-block)* -1));
}



/* CREDITS */

.credits {
  position: absolute;
  bottom: calc(var(--landing-font-size) * 2);
  right: calc(var(--landing-font-size) * 2);
}



/* OPTIONS */

.options {
  position: absolute;
  z-index: 1;
  top: calc(var(--landing-font-size) * 2);
  right: calc(var(--landing-font-size) * 2);
}

.options-sound {
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
}

.options-sound-icon,
.options-sound-icon:before,
.options-sound-icon:after {
  content: '';
  width: calc(var(--landing-font-size) * 0.265);
  background: var(--landing-color-text);
}

.options-sound-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: calc(var(--landing-font-size) * 0.5);
}

.options-sound-icon:before {
  position: absolute;
  left: calc(var(--landing-font-size) * -0.5);
  bottom: 0;
  height: 50%;
}

.options-sound-icon:after {
  position: absolute;
  right: calc(var(--landing-font-size) * -0.5);
  bottom: 0;
  height: 150%;
}

.muted .options-sound .options-sound-icon {
  background: none;
}

.muted .options-sound .options-sound-icon:before {
  content: '×';
  height: 100%;
  background: none;
  font-style: normal;
  font-size: calc(var(--landing-font-size) * 1.25);
  position: relative;
  top: calc(var(--landing-font-size) * -0.35);
}

.muted .options-sound .options-sound-icon:after {
  display: none;
}

.options-paused {
  padding-top: calc(var(--landing-font-size) * 2);
  opacity: 0;
  pointer-events: none;
}

.paused .options-paused {
  opacity: 1;
  cursor: pointer;
  pointer-events: inherit;
  animation: blink 1.7s step-end 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}



/* MENU */

.menu-desktop {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--landing-menu-x), var(--landing-menu-y));
}

.ongoing-game .menu-desktop {
  /* TODO: fix */
}

.ongoing-game .menu-desktop-play,
.ongoing-game .menu-desktop-keyboard-extra {
  opacity: 0;
  pointer-events: none;
}

.menu-desktop-play {
  border: 0;
  background: none;
  font-size: 2em;
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-bottom: calc(var(--landing-font-size) * 2);
  transition: opacity 500ms;
  word-spacing: -0.25em;
}

.menu-desktop-play:before {
  content: '>';
  position: absolute;
  left: calc(var(--landing-font-size) * -3);
  top: 0;
}

.menu-desktop-play:hover {
  color: var(--landing-color-text-hover);
}

.menu-desktop-keyboard {
  border-collapse: collapse;
  border: 0;
}

.menu-desktop-keyboard td {
  vertical-align: top;
  padding: 0 0 calc(var(--landing-font-size) * 2.5) 0;
  white-space: nowrap;
  border: 0;
}

.menu-desktop-keyboard-keys {
  text-align: right;
  word-spacing: -1em;
  padding-right: calc(var(--landing-font-size) * 1.2) !important;
}

.menu-desktop-keyboard-keys kbd {
  color: var(--landing-color-text-keys);
}

.menu-desktop-keyboard-keys kbd:before {
  content: '[';
}

.menu-desktop-keyboard-keys kbd:after {
  content: ']';
}

.menu-desktop-keyboard-rotate-clockwise {
  transform: translateX(calc(var(--landing-font-size) * -0.2)) rotate(90deg);
  display: inline-block;
}



/* TETRIS */

.landing-tetris {
  position: absolute;
  width: var(--tetris-width);
  height: var(--tetris-height);
  top: 0;
  right: 0;
  transform-origin: right top;
  transform:
    translateX(var(--position-tetris-translate-x))
    translateY(var(--position-tetris-translate-y))
    scale(var(--position-tetris-scale))
    rotate(var(--position-tetris-rotation));
  box-shadow: -20px -4px 25px -2px #0009AD;
}

.ongoing-game .landing-tetris {
  transform:
    translateX(var(--position-tetris-ongoing-game-translate-x))
    translateY(var(--position-tetris-ongoing-game-translate-y))
    scale(var(--position-tetris-ongoing-game-scale))
    rotate(0.5deg);
}



/* PWA */

.installation {
  position: absolute;
  top: 50%;
  left: 50%;
  white-space: nowrap;
  padding: 30px;
  background: var(--landing-color-text);
  z-index: 1;
  transform: translate(-50%, -50%);
  color: var(--landing-color-background);
}

.installation-options {
  padding: 0;
  margin: 30px 0 0 0;
  list-style: none;
}

.installation-options-item {
  position: relative;
  margin: 12px 0 0 15px;
  width: min-content;
  cursor: pointer;
}

.installation-options-item:hover {
  box-shadow: 0 2px 0 var(--landing-color-background);
}

.installation-options-item:before {
  content: '>';
  position: absolute;
  left: -15px;
  top: 0;
}

.installation-dismiss {
  border: 0;
  background: none;
  padding: 20px;
  color: var(--landing-color-background);
  position: absolute;
  top: 20px;
  right: 20px;
}



/* INITIALIZING */

.logo,
.menu,
.credits,
.landing-tetris {
  opacity: 0;
  transition: opacity 300ms;
}

.initialized .logo,
.initialized .credits,
.initialized .menu,
.initialized .landing-tetris {
  opacity: 1;
}

.initialized .menu {
  transition: transform 800ms;
}

.initialized .landing-tetris {
  transition: opacity 300ms, transform 800ms;
  will-change: transform, opacity;
}
