@import './variables.css';
@import './mobile.css';

@font-face {
  font-family: 'Press Start';
  src: url('fonts/PressStart2P-Regular.woff') format('woff');
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: var(--landing-color-background);
  padding: 0;
  margin: 0;
}

body, button, kbd {
  font: var(--landing-font-size)/1em var(--landing-font-family);
  color: var(--landing-color-text);
  letter-spacing: 0.09em;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}

a, button {
  outline: none;
}

a {
  color: var(--landing-color-text);
  text-decoration: underline;
}

a:hover {
  color: var(--landing-color-text-hover);
}



/* LOGO */

.logo {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--landing-logo-left), var(--landing-logo-top));

  --logo-cube-padding: calc(var(--landing-logo-cube-size) / 3);
  --logo-cube-block: calc(var(--landing-logo-cube-size) + var(--logo-cube-padding));
}

.logo .figure-type-o {
  width: calc(var(--logo-cube-block) * 3);
}

.logo .figure-type-o i {
  border: 0;
  background: white;
  transition: transform 400ms;
  width: var(--landing-logo-cube-size);
  height: var(--landing-logo-cube-size);
  margin: 0 var(--logo-cube-padding) var(--logo-cube-padding) 0;
}

.logo .figure-type-o i:after {
  background: var(--landing-color-text);
  display: none;
}

.logo--frame-1 .figure-type-o i:nth-child(4) {
  transform: translateX(var(--logo-cube-block));
}

.logo--frame-2 .figure-type-o i:nth-child(1) {
  transform: translateY(var(--logo-cube-block));
}

.logo--frame-3 .figure-type-o i:nth-child(2),
.logo--frame-3 .figure-type-o i:nth-child(3) {
  transform: translateX(calc(var(--logo-cube-block)* -1));
}



/* CREDITS */

.credits {
  position: absolute;
  bottom: calc(var(--landing-font-size) * 2);
  right: calc(var(--landing-font-size) * 2);
}



/* OPTIONS */

.options {
  position: absolute;
  z-index: 1;
  top: calc(var(--landing-font-size) * 2);
  right: calc(var(--landing-font-size) * 2);
}

.options-sound {
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
}

.options-sound-icon,
.options-sound-icon:before,
.options-sound-icon:after {
  content: '';
  width: calc(var(--landing-font-size) * 0.265);
  background: var(--landing-color-text);
}

.options-sound-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: calc(var(--landing-font-size) * 0.5);
}

.options-sound-icon:before {
  position: absolute;
  left: calc(var(--landing-font-size) * -0.5);
  bottom: 0;
  height: 50%;
}

.options-sound-icon:after {
  position: absolute;
  right: calc(var(--landing-font-size) * -0.5);
  bottom: 0;
  height: 150%;
}

.muted .options-sound .options-sound-icon {
  background: none;
}

.muted .options-sound .options-sound-icon:before {
  content: '×';
  height: 100%;
  background: none;
  font-style: normal;
  font-size: calc(var(--landing-font-size) * 1.25);
  position: relative;
  top: calc(var(--landing-font-size) * -0.35);
}

.muted .options-sound .options-sound-icon:after {
  display: none;
}

.options-paused {
  padding-top: calc(var(--landing-font-size) * 2);
  opacity: 0;
  pointer-events: none;
}

.paused .options-paused {
  opacity: 1;
  cursor: pointer;
  pointer-events: inherit;
  animation: blink 1.7s step-end 0s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}



/* MENU */

.menu-desktop {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(var(--landing-menu-left), var(--landing-menu-top));
}

.ongoing-game .menu-desktop {
  /* TODO: fix */
}

.ongoing-game .menu-desktop-play,
.ongoing-game .menu-desktop-keyboard-extra {
  opacity: 0;
  pointer-events: none;
}

.menu-desktop-play {
  border: 0;
  background: none;
  font-size: 2em;
  position: relative;
  cursor: pointer;
  padding: 0;
  margin-bottom: var(--landing-font-size);
  transition: opacity 500ms;
  word-spacing: -0.25em;
}

.menu-desktop-play:before {
  content: '>';
  position: absolute;
  left: calc(var(--landing-font-size) * -3);
  top: 0;
}

.menu-desktop-play:hover {
  color: var(--landing-color-text-hover);
}

.menu-desktop-keyboard {
  border-collapse: collapse;
  border: 0;
}

.menu-desktop-keyboard td {
  vertical-align: top;
  padding: 0 0 calc(var(--landing-font-size) * 2.5) 0;
  white-space: nowrap;
  border: 0;
}

.menu-desktop-keyboard-keys {
  text-align: right;
  word-spacing: -1em;
  padding-right: calc(var(--landing-font-size) * 1.2) !important;
}

.menu-desktop-keyboard-keys kbd {
  color: var(--landing-color-text-keys);
}

.menu-desktop-keyboard-keys kbd:before {
  content: '[';
}

.menu-desktop-keyboard-keys kbd:after {
  content: ']';
}

.menu-desktop-keyboard-rotate-clockwise {
  transform: translateX(calc(var(--landing-font-size) * -0.2)) rotate(90deg);
  display: inline-block;
}



/* TETRIS */

.landing-tetris {
  position: absolute;
  width: var(--tetris-width);
  height: var(--tetris-height);
  top: 0;
  right: 0;
  transform-origin: right top;
  transform:
    translateX(var(--position-tetris-translate-right))
    translateY(var(--position-tetris-translate-top))
    scale(var(--position-tetris-scale))
    rotate(var(--position-tetris-rotation));
  box-shadow: -20px -4px 25px -2px #0009AD;
}

.ongoing-game .landing-tetris {
  transform:
    translateX(var(--position-tetris-ongoing-game-translate-right))
    translateY(var(--position-tetris-ongoing-game-translate-top))
    scale(var(--position-tetris-ongoing-game-scale))
    rotate(var(--position-tetris-ongoing-game-rotation));
}



/* PWA */

.install {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.install,
.install button {
  font: var(--ui-font-size-primary)/1.25em var(--ui-font-family);
  letter-spacing: 0;
  text-transform: none;
  color: var(--ui-color-text);
}

.install-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.os--ios .install-backdrop {
  background: rgba(0,0,0,.25);
}

.install-prompt {
  position: fixed;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  transform: translate(-50%, -50%);
  max-width: var(--ui-size-prompt);
  padding-bottom: var(--ui-prompt-internal-indent);
  background: white;
  box-shadow: 0 5px 7px 0 rgba(0,0,0,.31);
  border-radius: var(--ui-radius);
  overflow: hidden;
  opacity: 0;
  transition: opacity 400ms ease-in-out, transform 300ms ease-in-out;
}

.screen--phone .install-prompt {
  top: auto;
  left: var(--ui-prompt-external-indent);
  right: var(--ui-prompt-external-indent);
  bottom: var(--ui-prompt-external-indent);
  transform: translateY(30%);
}

.os--ios .install-prompt {
  box-shadow: none;
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(10px) contrast(0.7) brightness(1.5);
}

.os--ios.screen--phone .install-prompt {
  transform: translateY(100%); /* needed for slide-up effect */
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.os--ios.screen--tablet .install-prompt {
  top: var(--ui-prompt-external-indent);
  right: var(--ui-prompt-external-indent);
  left: auto;
  bottom: auto;
  transform: none;
}

.install-prompt-close {
  display: none;
  position: absolute;
  top: 13px;
  right: 13px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 100%;
  background: rgba(0,0,0,.075);
}

.install-prompt-close:after {
  content: '×';
  font: normal 28px Arial, sans-serif;
  position: absolute;
  left: 0;
  right: 0;
  top: -1px;
  bottom: 0;
  text-align: center;
  color: #808185;
}

.os--ios .install-prompt-close {
  display: block;
}

.install-prompt-header {
  text-align: center;
  border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 19px 0 19px 0;
}

.install-prompt-title {
  font-weight: 500;
  margin: 0 50px 6px 50px;
  font-size: var(--ui-font-size-primary);
}

.install-prompt-title-caption {
  font-size: var(--ui-font-size-secondary);
  line-height: 1.25em;
  margin: 0 50px;
}

.install-gallery {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin: calc(var(--ui-size-icon) * 0.375) calc(var(--ui-size-icon) * -0.5) calc(var(--ui-size-icon) * 0.375 + 15px) calc(var(--ui-size-icon) * -0.5);
}

.install-gallery-item {
  position: relative;
  min-width: var(--ui-size-icon);
  height: var(--ui-size-icon);
  border-radius: var(--ui-radius-icon);
  background-image: linear-gradient(135deg, transparent 0%, rgba(0,0,0,.05) 100%);
  box-shadow: inset 0 0 0 1px rgba(0,0,0,.15);
  margin: 0;
}

.install-gallery-item--icon {
  background: url('./icons/icon-android-192.png') center;
  background-size: 120%;
  box-shadow: none;
}

.install-gallery-item-name {
  font-size: 0.7em;
  display: block;
  text-align: center;
  position: absolute;
  width: 150%;
  margin-left: -25%;
  bottom: -26px;
  letter-spacing: 0.025em;
  white-space: nowrap;
}

.install-button {
  margin-left: var(--ui-prompt-internal-indent);
  width: calc(100% - var(--ui-prompt-internal-indent) * 2);
  border-radius: var(--ui-radius);
  border: 0;
  padding: 15px 0 14px 0;
  background: var(--ui-color-button-secondary);
}

.install-button--continue {
  color: white !important;
  background: var(--ui-color-button-primary);
  font-weight: 600 !important;
}

.install-button--never-ask {
  margin-top: calc(var(--ui-prompt-internal-indent) * 0.7);
  color: #FF5650 !important;
}

.os--ios .install-button--cancel {
  display: none;
}

.install-button--never-ask[hidden] + .install-button--cancel {
  margin-top: 8px;
  margin-bottom: -8px;
}

.install-call-to-action {
  position: fixed;
  bottom: var(--landing-font-size);
  left: var(--landing-font-size);
  z-index: 1;
  border: 0;
  background: var(--landing-color-text);
  color: #000000;
  padding:
    var(--landing-font-size)
    var(--landing-font-size)
    calc(var(--landing-font-size) * 0.8)
    var(--landing-font-size);
  white-space: nowrap;
  word-spacing: calc(var(--landing-font-size) * -0.4);
  transition: opacity 500ms;
  opacity: 0;
}

.install-call-to-action:first-letter {
  color: var(--landing-color-text-hover);
  font-size: 105%;
}

.can-install .install-call-to-action {
  opacity: 1;
}

.installation-shown .install-call-to-action,
.installed .install-call-to-action {
  opacity: 0;
  pointer-events: none;
}

/* Switching install prompt states */

.installation-enabled .install {
  display: block;
}

.installation-shown .install-backdrop,
.installation-shown .install-prompt {
  opacity: 1;
}

.installation-shown.screen--phone .install-prompt {
  transform: none;
}

@media all and (orientation: landscape) {
  .screen--phone .install-call-to-action {
    opacity: 0;
    pointer-events: none;
  }
  .screen--phone.installation-enabled .install {
    display: none;
  }
}



/* INITIALIZING */

.logo,
.menu,
.credits,
.landing-tetris {
  opacity: 0;
  transition: opacity 300ms;
}

.initialized .logo,
.initialized .credits,
.initialized .menu-desktop,
.initialized .menu-mobile,
.initialized .landing-tetris {
  opacity: 1;
}

.initialized .menu {
  transition: transform 800ms;
}

.initialized .landing-tetris {
  transition: opacity 300ms, transform 800ms;
  will-change: transform, opacity;
}
