.device--touch {
  touch-action: pan-x pan-y;  /* preventing pitch zoom */
  height: 100vh;              /* preventing iOS scroll */
  user-select: none;          /* disabling long tap menu */
}

.device--touch body {
  position: fixed;            /* preventing iOS scroll */
}

.device--touch .menu-desktop {
  display: none;
}

.device--touch .menu-mobile {
  display: block;
}

.device--touch .options,
.device--touch .credits {
  display: none;
}



/* MENU */

.menu-mobile {
  display: none;
  position: absolute;
  list-style: none;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  transform: translate(var(--landing-menu-left), var(--landing-menu-top));
}

.menu-mobile-item {
  margin-bottom: calc(var(--landing-font-size) * 2);
  position: relative;
}

.menu-mobile-play:before {
  content: '>';
  position: absolute;
  top: 0;
  left: calc(var(--landing-font-size) * -1.5);
}

@media all and (orientation: portrait) {
  .device--touch.standalone .logo,
  .device--touch.standalone .menu-mobile {
    margin-top: 20px;
  }
}




/* PWA INSTALLATION */

.pwa-install-button {
  position: fixed;
  bottom: var(--landing-font-size);
  left: var(--landing-font-size);
  z-index: 1;
  border: 0;
  background: var(--landing-color-text);
  color: #000000;
  padding:
    var(--landing-font-size)
    var(--landing-font-size)
    calc(var(--landing-font-size) * 0.8)
    var(--landing-font-size);
  white-space: nowrap;
  word-spacing: calc(var(--landing-font-size) * -0.4);
}

.pwa-install-button:first-letter {
  color: var(--landing-color-text-hover);
  font-size: 105%;
}
