@import './variables.css';

@font-face {
  font-family: 'Tetris Screen';
  src: url('fonts/TetrisScreen-Custom.woff') format('woff');
}

@font-face {
  font-family: 'Pump Light';
  src: url('fonts/PumpDEE-Light.woff') format('woff');
}



/* TETRIS CASE */

.tetris {
  background: var(--tetris-color-case);
  border-radius: var(--tetris-border-radius);
  overflow: hidden;
}

.tetris:before,
.tetris:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: var(--tetris-border-radius);
  pointer-events: none;
}

.tetris:before {
  z-index: 5;
  opacity: 0.5;
  box-shadow: inset -1px 1px 9px 13px #000000;
}

.tetris:after {
  z-index: 6;
  box-shadow: inset -1px 0 8px 0 var(--landing-color-background);
}

.curve {
  position: absolute;
  top: 225px;
  left: 0;
  right: 0;
  height: 110px;
  background-image: linear-gradient(180deg, var(--tetris-color-case) 2%, #131024 19%, #14112A 26%, #3A344E 47%, #131022 73%, #131022 82%, var(--tetris-color-case) 100%);
  border-radius: 8px;
}

.noise {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  opacity: 0.35;
  filter: grayscale(100%) contrast(6);
  pointer-events: none;
}



/* SCRATCHES, CRACKS & SCUFFS */

.scratches {
  position: absolute;
  pointer-events: none;
}

.scratches path {
  stroke: #FFFFFF;
  stroke-width: 0.5;
  fill: none;
  fill-rule: evenodd;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.scratches--bottom {
  top: 320px;
  width: 100%;
  height: 265px;
  opacity: 0.04;
}

.scratches--curve {
  top: 217px;
  width: 100%;
  height: 100px;
  opacity: 0.03;
}

.cracks {
  position: absolute;
  top: 269px;
  left: 12px;
}

.cracks i {
  position: absolute;
  filter: drop-shadow(0px 1px 0px rgba(255,255,255,0.3));
}

.cracks i:after {
  content: '';
  background-image: linear-gradient(90deg, rgba(0,0,0,0.1) 17%, #000000 34%, rgba(0,0,0,0.75) 65%, rgba(0,0,0,0.1) 97%);
  overflow: hidden;
  position: absolute;
  opacity: 0.2;
}

.cracks i:nth-child(1) {
  filter: drop-shadow(0px -1px 0px rgba(255,255,255,0.3));
}

.cracks i:nth-child(1):after {
  clip-path: polygon(0% 33%, 19% 32%, 53% 50%, 81% 32%, 97% 1%, 100% 31%, 83% 97%, 53% 97%);
  left: 72px;
  top: 0;
  width: 28px;
  height: 5px;
  opacity: 0.35;
}

.cracks i:nth-child(2):after {
  clip-path: polygon(1% 80%, 9% 23%, 39% 0%, 100% 6%, 81% 20%, 45% 33%, 20% 67%, 7% 98%);
  left: 1px;
  top: 20px;
  width: 18px;
  height: 6px;
}

.cracks i:nth-child(3):after {
  clip-path: polygon(50% 19%, 80% 46%, 99% 79%, 99% 99%, 80% 79%, 1% 50%, 24% 47%, 1% 19%, 28% 19%, 40% 0%);
  left: 55px;
  top: 14px;
  width: 9px;
  height: 11px;
}

.cracks i:nth-child(4):after {
  clip-path: polygon(35% 18%, 49% 0%, 72% 13%, 100% 46%, 79% 79%, 79% 99%, 1% 94%, 30% 46%, 0% 17%);
  left: 205px;
  top: 20px;
  width: 12px;
  height: 10px;
  opacity: 0.3;
}

.cracks i:nth-child(5):after {
  clip-path: polygon(0% 8%, 29% 15%, 40% 1%, 49% 16%, 81% 48%, 100% 78%, 99% 98%, 81% 75%, 49% 39%, 40% 40%, 33% 29%, 24% 39%);
  left: 37px;
  top: 26px;
  width: 37px;
  height: 6px;
}

.cracks i:nth-child(6) {
  filter: drop-shadow(0px 1px 1px rgba(255,255,255,0.3));
}

.cracks i:nth-child(6):after {
  clip-path: polygon(0% 20%, 29% 19%, 40% 0%, 58% 13%, 82% 47%, 100% 79%, 100% 99%, 79% 99%, 35% 93%, 24% 48%);
  left: 71px;
  top: 68px;
  width: 16px;
  height: 10px;
  opacity: 0.3;
}

.cracks i:nth-child(7):after {
  clip-path: polygon(0% 20%, 29% 20%, 40% 1%, 49% 20%, 82% 47%, 100% 79%, 100% 99%, 81% 79%, 49% 47%, 40% 47%, 33% 36%, 24% 48%);
  left: 85px;
  top: 35px;
  width: 13px;
  height: 7px;
}

.scuffs {
  position: absolute;
  top: 360px;
  left: 34px;
  pointer-events: none;
}

.scuffs i {
  position: absolute;
  background: var(--tetris-color-case);
  width: 24px;
  height: 12px;
  filter: blur(2px);
  opacity: 0.81;
}

.scuffs i:nth-child(1) {
  left: 7px;
  top: 69px;
}

.scuffs i:nth-child(2) {
  left: 9px;
  top: 59px;
  opacity: 0.95;
}

.scuffs i:nth-child(3) {
  left: 32px;
  top: 96px;
  height: 7px;
  filter: blur(1px);
}

.scuffs i:nth-child(4) {
  left: 32px;
  top: 86px;
  opacity: 1;
}

.scuffs i:nth-child(5) {
  left: 49px;
  top: 72px;
  height: 7px;
  filter: blur(1px);
}

.scuffs i:nth-child(6) {
  left: 49px;
  top: 62px;
  opacity: 1;
}

.scuffs i:nth-child(7) {
  left: 164px;
  top: 81px;
  height: 7px;
  opacity: 0.53;
  filter: blur(1px);
}

.scuffs i:nth-child(8) {
  top: 128px;
  left: 137px;
  width: 22px;
  height: 22px;
  filter: blur(3px);
  opacity: 0.97;
}



/* SCREEN */

.screen {
  position: absolute;
  z-index: 10;
  left: 56px;
  top: 29px;
  width: 147px;
  height: 184px;
  background: linear-gradient(-115deg, #65586F 0%, #967F91 100%);
  box-shadow: 0 0 0 2px var(--tetris-color-paint-red);
}

.screen-inner {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-style: solid;
  border-color: var(--tetris-color-case) transparent;
  border-width: 8px 18px 12px 18px;
}

.screen-panel {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 11px;
  background-image: linear-gradient(-45deg, #E3E9CC 0%, #B5BAA9 100%);
  box-shadow:
    0 0 0 1px rgba(0,0,0,.59),
    inset 0 0 0 1px rgba(0,0,0,.59);
}

.screen-game {
  position: absolute;
  border: 1px solid #000000;
  top: 19px;
  left: 2px;
  transform-origin: top left;
}

.screen-next-figure {
  position: absolute;
  top: 33px;
  right: 6px;
  transform-origin: top right;
}

.screen-matrix {
  position: absolute;
  z-index: 1;
  top: -1px;
  left: 0;
  white-space: pre;
  font: 10px/7px var(--tetris-font-family-screen);
  color: var(--tetris-color-screen-filled);
  letter-spacing: 1px;
  padding-bottom: 1px;
  opacity: 0.85;
}

.screen-matrix--background {
  position: relative;
  top: -1px;
  pointer-events: none;
  opacity: 0.12;
}

.screen-caption,
.screen-counter {
  position: absolute;
  right: 1px;
  letter-spacing: 0;
  text-shadow: 0.05em 0.09em 0.03em rgba(0,0,0,0.1);
  color: var(--tetris-color-screen-filled);
  opacity: 0.85;
}

.screen-caption {
  position: absolute;
  width: min-content;
  font: bold italic 0.575em/6px var(--tetris-font-family-text);
  letter-spacing: 0.03em;
}

.screen-counter {
  font: 10px/10px var(--tetris-font-family-screen);
  letter-spacing: 0.05em;
  transform: scaleY(1.1);
  transform-origin: top;
}

.screen-caption--hi-score {
  top: 3px;
  left: 4px;
  white-space: nowrap;
}

.screen-caption--sound {
  transform: rotate(11deg) scaleX(1.2);
  top: 10px;
  left: 4px;
}

.screen-caption--lines {
  top: 10px;
  left: 10px;
}

.screen-caption--game-over {
  top: 3px;
  right: 3px;
}

.screen-caption--next {
  top: 26px;
  width: 26px;
  right: 7px;
}

.screen-caption--speed {
  top: 78px;
  width: 26px;
  font-size: 0.65em;
  right: 7px;
}

.screen-caption--level {
  top: 121px;
  width: 26px;
  font-size: 0.65em;
  right: 7px;
}

.screen-counter--score {
  top: 3px;
  right: 26px;
}

.screen-counter--speed {
  top: 88px;
  right: 12px;
}

.screen-counter--level {
  top: 106px;
  right: 12px;
}

.screen-caption--lines,
.muted .screen-caption--sound,
.ongoing-game:not(.game-over) .screen-caption--game-over {
  opacity: 0.2;
}



/* DECORATIVE FIGURES */

.figure-left,
.figure-right {
  position: absolute;
  top: 27px;
}

.figure-left {
  left: 25px;
}

.figure-right {
  left: 209px;
}

[class^=figure-type-] {
  display: flex;
  flex-flow: wrap;
  width: 30px;
  margin-bottom: 11px;
}

[class^=figure-type-] > i {
  position: relative;
  width: 9px;
  height: 9px;
  border: 1px solid var(--tetris-color-paint-green);
  margin: 0 2px 2px 0;
}

[class^=figure-type-] > i:after {
  content: '';
  width: 6px;
  height: 6px;
  background: var(--tetris-color-paint-green);
  position: absolute;
  top: 1px;
  right: 1px;
}

.figure-type-z > i:nth-child(1) {
  margin-left: 13px;
}

.figure-type-t > i:nth-child(1) {
  margin-right: 13px;
}

.figure-type-l > i:nth-child(1),
.figure-type-l > i:nth-child(4) {
  margin-right: 13px;
}



/* GLARES */

.glare-left {
  position: absolute;
  top: 17px;
  left: 17px;
  z-index: 1;
  opacity: 0.2;
}

.glare-left > i {
  position: absolute;
  width: 3px;
  background: var(--tetris-color-glare);
  border-radius: 2px;
  filter: blur(3px);
}

.glare-left > i:nth-child(1) {
  height: 210px;
  opacity: 0.7;
}

.glare-left > i:nth-child(2) {
  left: -2px;
  top: 250px;
  width: 5px;
  height: 14px;
  opacity: 0.4;
}

.glare-left > i:nth-child(3) {
  top: 313px;
  height: 252px;
  opacity: 0.35;
}

.glare-right {
  position: absolute;
  top: 17px;
  right: 13px;
  z-index: 1;
}

.glare-right > i {
  position: absolute;
  right: 2px;
  background: var(--tetris-color-glare);
  border-radius: 2px;
  filter: blur(4px);
}

.glare-right > i:nth-child(1) {
  width: 3px;
  height: 210px;
  opacity: 0.8;
}

.glare-right > i:nth-child(2) {
  top: 250px;
  width: 5px;
  height: 16px;
  opacity: 0.42;
}

.glare-right > i:nth-child(3) {
  top: 313px;
  right: 0;
  width: 16px;
  height: 253px;
  opacity: 0.44;
  background: linear-gradient(270deg, var(--tetris-color-glare) 0%, rgba(255,255,255,0) 100%);
}

.glare-right > i:nth-child(4) {
  top: 313px;
  width: 3px;
  height: 252px;
  opacity: 0.5;
}

.glare-bottom {
  position: absolute;
  left: 21px;
  top: 335px;
  width: 213px;
  height: 247px;
  opacity: 0.2;
  background-image: linear-gradient(238deg, var(--tetris-color-glare) 0%, rgba(255,255,255, 0) 52%);
  border-radius: 5px;
  filter: blur(6px);
  z-index: 1;
}

.glare-curve {
  position: absolute;
  left: 32px;
  top: 273px;
  width: 210px;
  height: 11px;
  opacity: 0.77;
  background-image: linear-gradient(270deg, var(--tetris-color-glare) 0%, rgba(255,255,255,.05) 96%);
  border-radius: 5px;
  filter: blur(6px);
  z-index: 2;
}

[class^=glare-] {
  pointer-events: none;
}



/* BRAND */

.brand {
  position: absolute;
  bottom: 29px;
  left: 27px;
  width: 206px;
  z-index: -1;
}

.brand-logo {
  position: absolute;
  left: 49px;
  bottom: 19px;
  transform: rotate(-36deg);
  width: min-content;
  opacity: 0.9;
}

.brand-logo-name {
  font: 35px/30px var(--tetris-font-family-brand);
  letter-spacing: -0.04em;
}

.brand-logo-name:first-line {
  letter-spacing: -0.035em;
}

.brand-logo-name--b {
  letter-spacing: -0.04em;
}

.brand-logo-name--c {
  letter-spacing: -0.01em;
}

.brand-logo-name:before {
  content: '';
  margin-left: -40px;
}

.brand-logo-caption {
  font: normal 18px/18px var(--tetris-font-family-brand);
  letter-spacing: 0.03em;
  text-align: right;
  margin: 2px -32px 0 0;
  word-spacing: -0.05em;
}

.brand-logo-caption--in {
  font-family: var(--tetris-font-family-text);
  font-size: 16px;
}

.brand-image {
  position: absolute;
  bottom: 30px;
  right: 8px;
  opacity: 0.8;
  transform: scale(0.9);
}

.brand-image-head {
  border-radius: 100%;
  width: 33px;
  height: 33px;
  background: var(--tetris-color-paint-red);
  position: relative;
  display: block;
}

.brand-image-face {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 21px;
  height: 17px;
  border-radius: 14px / 10px;
  box-shadow: 0 0.15em 0 0 var(--tetris-color-case);
}

.brand-image-face:before,
.brand-image-face:after {
  content: '';
  width: 3px;
  height: 3px;
  border-radius: 100%;
  background: var(--tetris-color-case);
  position: absolute;
  top: 3px;
}

.brand-image-face:before {
  left: 6px;
}

.brand-image-face:after {
  right: 6px;
}

.brand-image-hand,
.brand-image-hand:after {
  position: absolute;
  top: 21px;
  filter: drop-shadow(1px -1px 0px var(--tetris-color-case));
}

.brand-image-hand:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 21px;
  height: 18px;
  background: var(--tetris-color-paint-red);
  clip-path: polygon(7% 55%, 0% 35%, 0% 32%, 1% 29%, 3% 28%, 6% 29%, 8% 34%, 16% 51%, 20% 56%, 20% 54%, 14% 24%, 13% 17%, 14% 13%, 16% 11%, 18% 11%, 20% 13%, 22% 18%, 30% 44%, 33% 51%, 34% 51%, 33% 42%, 29% 14%, 29% 3%, 30% 1%, 32% -13%, 34% -13%, 35% 1%, 37% 4%, 39% 14%, 43% 36%, 46% 48%, 47% 49%, 47% 44%, 46% 25%, 47% 15%, 50% 8%, 52% 7%, 54% 7%, 55% 8%, 56% 12%, 58% 41%, 61% 59%, 64% 64%, 68% 69%, 72% 72%, 77% 72%, 87% 71%, 92% 72%, 98% 74%, 100% 78%, 99% 79%, 91% 82%, 79% 85%, 67% 93%, 54% 98%, 41% 100%, 34% 98%, 28% 93%, 21% 83%);
}

.brand-image-hand--left {
  left: -9px;
}

.brand-image-hand--right {
  left: 42px;
  transform: scaleX(-1);
}

.brand-image-caption {
  position: absolute;
  top: 36px;
  left: -2px;
  color: var(--tetris-color-paint-red);
  font: 14px/14px 'Adobe Kaiti Std';
  letter-spacing: -0.2em;
  text-shadow:
    0 -1px 0 var(--tetris-color-case),
    1px -1px 0 var(--tetris-color-case),
    -1px -1px 0 var(--tetris-color-case);
}

.brand-model {
  position: absolute;
  left: 132px;
  bottom: -2px;
  font: bold 13px/13px var(--tetris-font-family-text);
  letter-spacing: 0;
}

.brand-stripe-1,
.brand-stripe-2 {
  position: absolute;
  bottom: 3px;
  height: 3px;
  background: var(--tetris-color-paint-green);
}

.brand-stripe-1 {
  width: 126px;
}

.brand-stripe-2 {
  right: 0;
  width: 26px;
}



/* BUTTONS */

.button {
  position: absolute;
}

.button:after {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 100%;
}

.button-knob {
  position: relative;
  width: 26px;
  height: 26px;
  border-radius: 100%;
  overflow: hidden;
  background: var(--tetris-color-button);
  border: 0;
  z-index: 10;
  box-shadow:
    0 0 1px 2px rgba(11,11,11,.2),
    0 0 1px 1px rgba(0,0,0,.25),
    inset 1px -1px 1px 0 rgba(0,0,0,.2),
    inset -1px 1px 1px 0 rgba(255,255,255,.63);
}

.button-knob:before {
  position: absolute;
  content: '';
  left: 5%;
  top: 29%;
  width: 36%;
  height: 37%;
  opacity: 0.69;
  transform: rotate(45deg);
  background: var(--tetris-color-glare);
  border-radius: 6px;
  filter: blur(3px);
}

.button-knob:after {
  position: absolute;
  content: '';
  left: 55%;
  top: 24%;
  width: 50%;
  height: 50%;
  transform: rotate(45deg);
  background-image: linear-gradient(224deg, var(--tetris-color-glare) 0%, rgba(255,255,255,.41) 100%);
  border-radius: 6px;
  filter: blur(3px);
}

.button-knob:active {
  /* TODO: fix */
}

.button-caption {
  font: 7px/7px var(--tetris-font-family-text);
  text-align: center;
  margin-left: -26%;
  width: 160%;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.03em;
  position: absolute;
  top: calc(100% + 9px);
}

.button-caption--secondary {
  top: calc(100% + 18px);
  color: var(--tetris-color-paint-green);
}

.button--large .button-knob {
  width: 38px;
  height: 38px;
}

.button--large .button-caption--secondary:before {
  left: 17%;
  right: 16%;
}

.button--small .button-knob {
  width: 13px;
  height: 13px;
}

.button--small .button-caption {
  margin-left: -100%;
  width: 300%;
  letter-spacing: -0.03em;
}

.button-left:after,
.button-right:after {
  box-shadow: 0 -2px 13px 8px rgba(0,0,0,.4);
}

.button-rotate:after {
  box-shadow: 0 -2px 13px 5px rgba(0,0,0,.4);
}

.button-rotate {
  top: 383px;
  right: 31px;
}

.button-left {
  top: 388px;
  left: 33px;
}

.button-right {
  top: 388px;
  left: 91px;
}

.button-down {
  top: 416px;
  left: 62px;
}

.button-top-1 {
  top: 337px;
  left: 72px;
}

.button-top-2 {
  top: 337px;
  left: 121px;
}

.button-top-3 {
  top: 337px;
  left: 170px;
}
