:root {
  --position-tetris-scale: 1;
  --position-tetris-translate-top: 0;
  --position-tetris-translate-right: 0;
  --position-tetris-rotation: 12deg;

  --position-tetris-ongoing-game-scale: 1;
  --position-tetris-ongoing-game-translate-top: 0;
  --position-tetris-ongoing-game-translate-right: 0;
  --position-tetris-ongoing-game-rotation: 0.5deg;

  --landing-font-family: 'Press Start', 'Arial', sans-serif;
  --landing-font-size: 1.65vmin;

  --landing-logo-top: 7vmin;
  --landing-logo-left: 7vmin;
  --landing-logo-cube-size: 1vmin;

  --landing-menu-top: 0;
  --landing-menu-left: 0;

  --landing-color-text: #FFFFFF;
  --landing-color-text-hover: #FF4A00;
  --landing-color-text-keys: #FFDE00;
  --landing-color-background: #0033FF;

  --tetris-width: 257px;
  --tetris-height: 601px;

  --tetris-color-case: #353046;
  --tetris-color-glare: #FFFFFF;
  --tetris-color-button: #FFDE00;
  --tetris-color-screen-filled: #1D2D35;
  --tetris-color-screen-empty: #BFC6AF;

  --tetris-color-paint-red: #E02530;
  --tetris-color-paint-green: #00a955;

  --tetris-font-family-text: 'Arial', sans-serif;
  --tetris-font-family-brand: 'Pump Light', 'Arial', sans-serif;
  --tetris-font-family-screen: 'Tetris Screen', monospace;

  --tetris-border-radius: 24px;
}

.device--tablet {
  --landing-logo-cube-size: 1.2vmin;
  --landing-font-size: 2.75vmin;
}

.device--phone {
  --landing-logo-top: 10vmin;
  --landing-logo-left: 10vmin;
  --landing-logo-cube-size: 1.5vmin;
  --landing-font-size: 3.75vmin;
  --position-tetris-rotation: 16deg;
}
