:root {
  --position-tetris-scale: 1;
  --position-tetris-translate-x: 0;
  --position-tetris-translate-y: 0;
  --position-tetris-rotation: 12;

  --position-tetris-ongoing-game-scale: 1;
  --position-tetris-ongoing-game-translate-x: 0;
  --position-tetris-ongoing-game-translate-y: 0;

  --landing-font-family: 'Press Start', 'Arial', sans-serif;
  --landing-font-size: 1.652vh;
  --landing-line-height: 2.102vh;
  --landing-letter-spacing: 0.15vh;

  --landing-logo-x: 0;
  --landing-logo-y: 0;
  --landing-logo-cube-size: 0.9vh;

  --landing-menu-x: 0;
  --landing-menu-y: 0;

  --landing-color-text: #FFFFFF;
  --landing-color-text-hover: #FF4A00;
  --landing-color-text-keys: #FFDE00;
  --landing-color-background: #0033FF;

  --tetris-width: 257px;
  --tetris-height: 601px;

  --tetris-color-case: #353046;
  --tetris-color-glare: #FFFFFF;
  --tetris-color-button: #FFDE00;
  --tetris-color-screen-filled: #1D2D35;
  --tetris-color-screen-empty: #BFC6AF;

  --tetris-color-paint-red: #E02530;
  --tetris-color-paint-green: #00a955;

  --tetris-font-family-text: 'Arial', sans-serif;
  --tetris-font-family-brand: 'Pump Light', 'Arial', sans-serif;
  --tetris-font-family-screen: 'Tetris Screen', monospace;

  --tetris-border-radius: 24px;
}
