:root {
  --position-tetris-scale: 1.2;
  --position-tetris-translate-x: 50%;
  --position-tetris-translate-y: -5.75%;
  --position-tetris-translate-rotation: 12deg;

  --position-tetris-ongoing-game-scale: 1.8;
  --position-tetris-ongoing-game-translate-x: 0;
  --position-tetris-ongoing-game-translate-y: 22.5%;

  --landing-font-family: 'Press Start', 'Arial', sans-serif;
  --landing-font-size: 1.652vh;
  --landing-letter-spacing: 0.14em;
  --landing-color-text: #FFFFFF;
  --landing-color-text-hover: #FF4A00;
  --landing-color-text-keys: #FFDE00;
  --landing-color-background: #0033FF;

  --tetris-color-case: #353046;
  --tetris-color-glare: #FFFFFF;
  --tetris-color-button: #FFDE00;
  --tetris-color-screen-filled: #1D2D35;
  --tetris-color-screen-empty: #BFC6AF;

  --tetris-color-paint-red: #E02530;
  --tetris-color-paint-green: #00a955;

  --tetris-font-family-text: 'Arial', sans-serif;
  --tetris-font-family-brand: 'Pump Light', 'Arial', sans-serif;
  --tetris-font-family-screen: 'Tetris Screen', monospace;

  --tetris-border-radius: 24px;
}
